<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PRemoteDroid Server/src/org/pierre/remotedroid/server/PRemoteDroidServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.pierre.remotedroid.server.PRemoteDroidServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PRemoteDroid Server"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:PRemoteDroid Server/export}"/>
</launchConfiguration>
