<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.pierre.remotedroid.client"
	android:versionCode="38" android:versionName="2010-03-02">
	<uses-sdk
		android:minSdkVersion="3" />
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name=".app.PRemoteDroid">
		<activity
			android:name=".activity.ControlActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN"></action>
				<category
					android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SettingsActivity"
			android:label="@string/text_settings"></activity>
		<activity
			android:name=".activity.GetServerActivity"
			android:label="@string/text_get_server"></activity>
		<activity
			android:name=".activity.HelpActivity"
			android:label="@string/text_help"></activity>
		<activity
			android:name=".activity.FileExplorerActivity"
			android:label="@string/text_file_explorer"></activity>
	<activity android:name=".activity.BluetoothDevicesActivity" android:label="@string/text_bluetooth_devices"></activity>
</application>
	<uses-permission
		android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"></uses-permission>
	<supports-screens
		android:smallScreens="true"
		android:anyDensity="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:largeScreens="true"></supports-screens>

<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
</manifest>